<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Activation Confirmation</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Reference Bootstrap files -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
		<h2>Account is activated successfully!</h2>

		<hr>
		<div>
			<a th:href="@{/showMyLoginPage}" class="btn btn-primary"
				role="button" aria-pressed="true">Login</a>
		</div>
	</div>



</body>

</html>