<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Error Page</title>

<!-- Reference Bootstrap files -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

		<h2>Error occured!</h2>

		<hr>

		<div class="container align-content-center">
			<div class="container">
				<a class="btn btn-danger" data-toggle="collapse"
					href="#multiCollapseExample1" role="button" aria-expanded="false"
					aria-controls="multiCollapseExample1">Hiba</a>
				<button class="btn btn-danger" type="button" data-toggle="collapse"
					data-target="#multiCollapseExample2" aria-expanded="false"
					aria-controls="multiCollapseExample2">TimeStamp</button>
				<button class="btn btn-danger" type="button" data-toggle="collapse"
					data-target="#multiCollapseExample3" aria-expanded="false"
					aria-controls="multiCollapseExample2">Path</button>
				<button class="btn btn-danger" type="button" data-toggle="collapse"
					data-target="#multiCollapseExample4" aria-expanded="false"
					aria-controls="multiCollapseExample2">Status</button>
				<button class="btn btn-danger" type="button" data-toggle="collapse"
					data-target="#multiCollapseExample5" aria-expanded="false"
					aria-controls="multiCollapseExample2">Message</button>

				<button class="btn btn-danger" type="button" data-toggle="collapse"
					data-target=".multi-collapse" aria-expanded="false"
					aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4 multiCollapseExample5 ">Mindent
					mutat</button>
			</div>


			<div class="row">
				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample1">
						<div class="card card-body">
							<p th:text="${error}"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample2">
						<div class="card card-body">
							<p th:text="${timestamp}"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample3">
						<div class="card card-body">
							<p th:text="${path}"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample4">
						<div class="card card-body">
							<p th:text="${status}"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample5">
						<div class="card card-body">
							<p th:text="${message}"></p>
						</div>
					</div>
				</div>

			</div>


		</div>
		
		<hr>
		<a th:href="@{/employees/list}" class="btn btn-success" role="button"
			aria-pressed="true">Back to the app</a>

	</div>
</body>

</html>