<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>App Info Page</title>

<!-- Reference Bootstrap files -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
		<h2>Welcome on this page!</h2>

		<hr>
		<h3>This simple web app is for learning and dealing with Spring
			Boot framework!</h3>
		
		<a th:href="@{/description}" class="btn btn-info" role="button"aria-pressed="true">Application Description</a>
		<a th:href="@{/showMyLoginPage}" class="btn btn-success" role="button" aria-pressed="true">Login Page</a>
	</div>


</body>

</html>